@model Wikipedia_Clone.Models.Article

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-heading article-title">
            <span class="article-underline">
                @Model.Title
            </span>
        </h2>
    </div>

    <div class="panel-body">
        @Html.Raw(Model.Content)
    </div>

    <div class="panel-footer">
        <div class="article-details">
            <p class="glyphicon glyphicon-education">
                @if (Model.User != null && Model.User.UserName != null)
                {
                    @Model.User.UserName
                }
            </p>

            <small class="glyphicon glyphicon-calendar">
                @Model.Date.ToString()
            </small>
        </div>

        @Html.ActionLink(Model.Category.CategoryTitle.ToString(), "ShowCategoryArticles", "Category", new { Model.CategoryId }, new { @class = "btn btn-info" })

    </div>
</div>