@model Wikipedia_Clone.Models.Article

    <div>
        <h1>
            @Model.Title
        </h1>

        <div>
            @Html.Raw(Model.Content)
        </div>

        <p>
            @if (Model.User != null && Model.User.UserName != null)
            {
                @Model.User.UserName
            }
        </p>

        <small>
            @Model.Date.ToString()
        </small>

        <p>
            @Model.Category.CategoryTitle
        </p>
        @if (Model.Protected == false)
        {
            @Html.ActionLink("Edit article", "Edit", "Article", new { Model.Id }, null)
        }

        <br />
        @if (Model.LastContent != null && (User.IsInRole("Editor") || User.IsInRole("Admin") || User.IsInRole("God")))
        {
            @Html.ActionLink("Show Last State", "ShowChanges", "Article", new { Model.Id }, null)
        }

        </div>


